<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.4visiontech.plugin"
      version="0.1.0">
    <name>Plugin</name>
    <description>Sample PhoneGap Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,plugin,4visiontech</keywords>
 
 
    <js-module src="www/plugin.js" name="Plugin">
        <clobbers target="window.calendar" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Plugin">
                <param name="android-package" value="org.4visiontech.plugin.Plugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Plugin.java" target-dir="src/org/4visiontech/plugin" />     
     </platform>         
</plugin>